<div class="message">
  <h1 align="center">Indique nombre de Usuario</h1>
</div>
<div class="gameboard">
    <div class="gamerow">
      <form name="input" action="html_form_action.asp" method="get">
        Username: <input type="text" name="user">
        <input type="submit" value="Jugar">
      </form>
    </div>
</div>